.sectiontwo{
    width: 100%;
    height: 80vh;
    background: url(../../Images//Qiz.jpg);
    background-position: center center ;
 background-size: cover;
 background-repeat: no-repeat;
 object-fit: cover;
 position: relative;
}
.bigSectionTwoText{
    position: relative;
    left: 18%;
    top: 15%;
}
.sectionTwoText {
    width: 600px;
    font-size: 45px;
   color: #fff;
   letter-spacing: -1px;
}
.sectionTwoText > h2 {
    font-weight: 200;
}
.BootomTextTwo{
    width: 580px;
    font-size: 28px;
}
.BootomTextTwo> p {
    color: #fff;
    margin-top: 10px;
}
.SectionTwoBtn{
    width: 180px;
    height: 40px;
    border: none;
    color: #fff;
    background-color: #007DB8;
  margin-top: 30px;
 }
 .SectionTwoBtn:hover{
   background-origin: padding-box;
    transition: 0.5s all;
     background-color: #F0AB00;
 }