.header {
    width: 100%;
    height: 64px;
    background-color: black;
}

.header__wrapper {
    width: 87%;
    height: 64px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.logo {
    height: 64px;
    display: flex;
    align-items: center;
}

.header__wrapper > .logo > img {
    width: 65px;
}

.header_collaction_product {
    display: flex;
    align-items: center;
}

.product, .industries, .services, .learning, .community, .partner, .about > p {
    font-size: 16px;
    font-weight: 400;
    margin: 0 15px;
}

.header_collaction_buy {
    display: flex;
    align-items: center !important;
    height: 64px;
}

.buy {
    display: flex;
    align-items: center;
}

.buy > .search {
    font-size: 27px;
}

.buy > p {
    font-size: 16px;
    font-weight: 400;
    margin: 0 5px 0 0;
    cursor: pointer;
}

.header_icons {
    display: flex;
    align-items: center;
    height: 64px;
}

.header_icons > .account {
    font-size: 27px;
    cursor: pointer;
    /* background-color: blue; */
    height: 64px;
    display: flex;
    align-items: center;
    margin: 0px 2px;
    padding: 0px 10px;
}

.flag {
    height: 64px;
    /* background-color: blue; */
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    margin: 0px 10px 0px 2px;
}

.flag > img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}